<footer th:fragment="s">
  <script crossorigin="anonymous"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/axios@1.3.4/dist/axios.min.js"></script>
  <script src="/JS/webService.js" type="text/javascript"></script>
  <script src="/JS/grid.js" type="text/javascript"></script>
  <script src="/JS/modal.js" type="text/javascript"></script>
</footer>