:root {
  --main-white-background: #ffffff !important;
  --main-cyan-background: #0275d8 !important;
  --main-text: #ffffff !important;
  --main-error-color: #e54c4c !important;
  --main-success-color: #6aec72 !important;
  --main-background-modal: #6e6e6e !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 13px !important;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(236, 240, 245);
}

.table {
  background-color: var(--main-white-background);
}

.table th {
  color: #f5f5f5;
  border-bottom-color: var(--main-cyan-background);
  background-color: var(--main-cyan-background);
  white-space: normal;
  text-align: center;
  vertical-align: middle;
  cursor: default;
}

.cn {
  width: 100%;
  height: 100%;
  background-color: var(--main-cyan-background);
}

svg {
  width: 30px;
  height: 30px;
}

a {
  text-decoration: none;
}

.main-content {
  padding: 120px 20px 30px 20px;
}

.btn-create {
  background-color: rgb(68,157,68);
  color: white;
}

.btn-create:hover {
  background-color: rgb(55, 133, 55);
  color: white;
}

#modal,
.modal-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10000 !important;
  display: none;
}

.modal-background {
  opacity: 0.5;
  background-color: var(--main-background-modal);
  display: block;
}

.modal-content {
  margin-top: 150px;
  min-height: 200px;
  background: var(--main-white-background);
  z-index: 10001 !important;
  border-radius: 10px;
}

.modal-content .modal-header .modal-close {
  position: relative;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  align-items: center;
  background: var(--main-white-background);
}

.modal-content .modal-header .modal-close svg {
  width: 30px;
  height: 30px;
  color: var(--main-error-color);
  background-color: var(--main-white-background);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content .modal-header .modal-title {
  color: var(--main-error-color);
  width: 100%;
  height: 40px;
}
.modal-content .form-group {
  margin-top: 10px;
}

label {
  font-weight: bold;
}

.error-message {
  color: var(--main-error-color);
}
.btn-light {
  color: black;
  font-weight: bold;
}
.btn {
  font-weight: bold;
}