.room-item {
  height: 350px;
  background-color: var(--main-white-background);
  border-radius: 7px;
  box-shadow: 2px 2px 2px 2px #545454;
  padding: 10px;
  position: relative;
}

.room-item.active {
  background-color: var(--main-cyan-background);
  color: var(--main-text);
}

.room-item-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.room-item.active .btn-primary {
  background-color: var(--main-white-background);
}

.room-item-description .room-price {
  position: absolute;
  bottom: 100px;
<<<<<<< HEAD
}

.room-item-description .btn-customer {
  position: absolute;
  top: 100px;
}
.content-header {
  position: relative;
}

.room-create {
  position: absolute;
  right: 0;
=======
>>>>>>> QLNhaTro_v2/master
}