<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/CSS/login.css">
</head>
<body>
  <div th:replace="fragment/header :: header"></div>
  <div class="container login-form w-25">
    <div class="row header fs-3 p-3">LOGIN</div>
    <div class="row body p-3 m-5">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username">
        <p class="invalid-feedback" id="username-feedback"></p>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
        <p class="invalid-feedback" id="password-feedback"></p>
      </div>
    </div>
    <div class="row footer m-5">
      <button class="btn btn-primary mb-5" onclick="Login()">Login</button>
      <div class="mt-2">
        <span>Bạn chưa có tài khoản ? </span>
        <a href="/register">nhấn vào đây</a>
        <span> để tạo tài khoản mới</span>
      </div>
    </div>
  </div>
  <div th:replace="fragment/footer :: footer"></div>
  <script type="application/javascript" src="/JS/Controllers/login.js"></script>
</body>
</html>