<div class="modal-content container w-50">
  <div class="modal-header">
    <span class="modal-title" id="modal-title">CHI TIẾT HÓA ĐƠN</span>
    <div class="modal-close" id="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/>
      </svg>
    </div>
  </div>
  <div class="modal-body row">
    <div class="col">
      <div class="name form-group" hidden="">
        <input class="form-control" id="id" type="text" >
        <span class="error-message" id="id-message"></span>
      </div>
      <div class="name form-group">
        <label for="roomName">Tên Phòng</label>
        <input class="form-control" id="roomName" type="text">
        <span class="error-message" id="roomName-message"></span>
      </div>
      <div class="birthDate form-group">
        <label for="birthDate">Ngày Sinh</label>
        <input class="form-control" id="birthDate" type="date">
        <span class="error-message" id="birthDate-message"></span>
      </div>
      <div class="gender form-group">
        <label for="gender">Giới Tính</label>
        <select class="form-control" id="gender">
          <option selected="selected" value="1">Nam</option>
          <option value="0">Nữ</option>
        </select>
        <span class="error-message" id="gender-message"></span>
      </div>
      <div class="address form-group">
        <label for="address">Địa Chỉ</label>
        <input class="form-control" id="address" type="text">
        <span class="error-message" id="address-message"></span>
      </div>
    </div>
    <div class="col">
      <div class="nationalId form-group">
        <label for="nationalId">Căn Cước Công Dân</label>
        <input class="form-control" id="nationalId" type="text">
        <span class="error-message" id="nationalId-message"></span>
      </div>
      <div class="phoneNumber form-group">
        <label for="phoneNumber">Số Điện Thoại</label>
        <input class="form-control" id="phoneNumber" type="text">
        <span class="error-message" id="phoneNumber-message"></span>
      </div>
      <div class="emailAddress form-group">
        <label for="emailAddress">Địa Chỉ Email</label>
        <input class="form-control" id="emailAddress" type="text">
        <span class="error-message" id="emailAddress-message"></span>
      </div>
      <div class="emailAddress form-group">
        <label for="emailAddress">Phòng Đang Ở</label>
        <input class="form-control" id="rooName" type="text">
        <span class="error-message" id="rooName-message"></span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" id="btn-close-modal">Close</button>
    <button type="button" class="btn btn-create" id="btn-create-customer" onclick="editCustomer()">Sửa</button>
  </div>
</div>