<div class="modal-content container w-25">
  <div class="modal-header">
    <span class="modal-title" id="modal-title">Thêm Khách Hàng</span>
    <div class="modal-close" id="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/>
      </svg>
    </div>
  </div>
  <div class="modal-body row">
    <div class="id form-group" hidden="hidden">
      <input class="form-control" id="d_id" type="text">
    </div>
    <div class="roomName form-group row">
      <label for="d_roomName">Tên Phòng</label>
      <input class="form-control" id="d_roomName" type="text" disabled>
      <span class="error-message" id="d_roomName-message"></span>
    </div>
    <div class="roomName form-group row">
      <label for="d_roomPrice">Giá Phòng</label>
      <input class="form-control" id="d_roomPrice" type="text">
      <span class="error-message" id="d_roomPrice-message"></span>
    </div>
    <div class="customer form-group row me-3">
      <label for="d_customers" class="form-label">Khách Hàng</label>
      <input class="col form-control" list="datalistOptions" id="d_customers" placeholder="Type to search...">
      <button class="col-2 ms-3 btn btn-create" onclick="addToList('d_customers')">+</button>
      <datalist id="datalistOptions"></datalist>
    </div>
    <div class="lists" id="lists"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" id="btn-close-modal">Close</button>
    <button type="button" class="btn btn-create" id="btn-create-customer" onclick="SaveRoom()">Lưu</button>
  </div>
</div>