<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Room</title>
  <link href="/CSS/room.css" rel="stylesheet">
</head>
<body>
  <div th:replace="fragment/header :: header"></div>
  <div id="modal"></div>
  <div th:replace="fragment/navbar :: navbar"></div>
  <div class="main-content row w-100">
    <div class="col-2 status-and-price"></div>
    <div class="col-10 content">
      <div class="row content-header">
        <div class="search room-status input-group w-25">
          <label for="room-status" class="m-2">Tình Trạng Phòng: </label>
          <select id="room-status" name="room-status" class="input-control w-50">
            <option value="-1" selected="selected">Tất Cả</option>
            <option value="1">Phòng Đang Ở</option>
            <option value="0">Phòng Trống</option>
          </select>
        </div>
        <div class="search input-room-search input-group w-25">
          <input class="form-control" name="input-room-search" placeholder="Tên Phòng, ..." id="roomName">
          <button class="btn btn-primary" onclick="Search()">Tìm kiếm</button>
        </div>
        <div class="room-create w-25">
          <button class="btn btn-create" onclick="OpenModal('roomCreateModal')">Thêm Phòng Mới</button>
        </div>
      </div>
      <div class="row row-cols-5 content-body m-3 gap-5 p-5" id="content-body"></div>
      <div class="row content-footer"></div>
    </div>
  </div>
  <div th:replace="fragment/footer :: footer"></div>
  <script type="application/javascript" src="/JS/Controllers/room/room.js"></script>
  <script type="application/javascript" src="/JS/Controllers/room/roomCreate.js"></script>
</body>
</html>